body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-style: normal;
}
.btn1 {
    margin: 20px; 
}
/* .logo {
   position: absolute;
   bottom: 100px;
   right: 100px;
} */
.verticalCenter {
    min-height: 95%; 
    min-height: 95vh; 
  
    display: flex;
    align-items: center;
}