/* .recharts-cartesian-axis { 
    font-size: 1rem !important;
	color: black !important;
	font-family:  Arial; 
}
.recharts-legend-item {
    font-size: 1rem !important;
	color: black !important;
	font-family:  Arial;
} */
body {
	font-family:  Arial;
}
/* #container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    width: 800px;
    height: 800px;
    background-color: #fff;
  } */